:root {
  --bgWhite: #fff;
  --bgLight: #a9c7ab;
  --bgMedium: #809c86;
  --bgHeavy: #667b6c;
}

.cardMain {
  background: var(--bgLight);
  opacity: 0.9;
  padding: 15px;
  border-radius: 5px;
  border: 3px solid #2c3d3c;
  display: grid;
  gap: 15px;
  box-shadow: 4px 4px 10px #262626;
}
.cardTitle {
  background: var(--bgMedium);
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
}
.cardContent {
  background: var(--bgMedium);
  border-radius: 5px;
  padding: 15px;
  display: grid;
  gap: 5px;
}
.cardRows {
  background: var(--bgHeavy);
  padding: 10px 15px;
  border-radius: 5px;
  display: grid;
}
.cardRowsCenter {
  justify-content: center;
  text-transform: capitalize;
}
.cardRowsCol {
  grid-template-columns: 1fr 1fr;
}
.qtdCalc {
  display: flex;
  float: right;
  gap: 10px;
}
.qtdCalc button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 0 15px;
  font-family: "Play", sans-serif;
  font-size: 16px;
  transition: 0.4s;
  cursor: pointer;
}
.qtdCalc button:hover {
  background: #fff;
  color: var(--bgHeavy);
}
.btnPix {
  cursor: pointer;
}
.btnMain {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-family: "Play", sans-serif;
  font-size: 16px;
  transition: 0.4s;
  text-decoration: none;
  text-align: center;
}
.btnMain:hover {
  background: #fff;
  color: var(--bgHeavy);
}
.quina {
  width: 220px;
  margin: 3px auto -5px auto;
}
.qrcode {
  margin: 5px auto;
  width: 190px;
}
.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s forwards;
}
@keyframes animeLeft {
  to {
    transform: initial;
    opacity: 0.9;
  }
}
.participantes {
  display: grid;
  gap: 5px;
  height: 274px;
  overflow-x: auto;
}
.cardPart {
  background: var(--bgWhite);
  padding: 6px 15px;
  border-radius: 5px;
  color: rgb(0, 0, 0,.8);
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--bgWhite);
  transition: 0.4s;
  max-height: 50px;
  text-decoration: none;
}
.cardPart:hover {
  background: var(--bgHeavy);
  color: var(--bgWhite);
  border: 1px solid var(--bgWhite);
}
.cardPart h3 {
  width: min-content;
}
.amounguinho {
  width: 40px;
}
.participantes .infos h2:last-child{
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .participantes .infos h2:last-child {
    text-align: inherit;
  }
  .participantes .cardRowsCol {
    grid-template-columns: inherit;
    text-align: center;
  }
  .participantes .cardPart {
    padding: 5px;
  }
  .mobH1{
    font-size: 23px;
    padding: 10px 0;
  }
  .mobH2 {
    font-size: 16px;
  }
  body {
    overflow: hidden !important;
  }
  .qtdCalc button {
    padding: 0 12px;
  }
  .participantes .cardPart {
    gap: 5px;
  }
}